*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Design documentation
# /app/src/main/res/design.md
# /app/src/main/res/design_raw.md
# /app/src/main/res/values/colors_raw.xml
# /app/src/main/res/design_layouts.html
